.profile-pic {
  border-radius: 50%;
}

.remove-button {
  width: 135px;
  height: auto;
  font-size: 1.4rem !important;
}

.card-row {
  justify-content: center;
  align-items: center;
}

.message-card {
  height: auto;
  width: 100%;
}

.left-justified {
  align-items: left !important;
  text-align: left !important;
  align-self: left !important;
}

.right-justified {
  align-items: right !important;
  text-align: right !important;
  align-self: right !important;
}
