.profile-pic {
  border-radius: 50%;
}

.remove-button {
  width: 135px;
  height: auto;
  font-size: 1.4rem !important;
}

.card-row {
  justify-content: center;
  align-items: center;
}

.subscriber-card {
  border-bottom: grey !important;
  height: 125px;
}

.profile-card-row {
  justify-content: center;
  align-items: center;
}

.profile-sub-card {
  border-bottom: grey !important;
  height: 125px;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.unsub-button {
  /* margin-top: 50px; */
  height: auto;
  width: 150px;
}
