.posts-container {
  text-align: left;
  border: 1px solid black;
  min-height: 250px;
  height: 35vh;
  max-width: 100% !important;
  flex: 1;
  /* margin-top: 1vh; */
  overflow-y: auto !important;
  overflow-x: hidden;
}
