.profile-pic {
  border-radius: 50%;
}

.name-button {
  height: auto;
  width: 150px;
}

.card-row {
  justify-content: center;
  align-items: center;
}

.message-card {
  border-bottom: grey !important;
  height: 100px;
}

.profile-pic {
  width: 60px;
}
