.left-panel {
  background-image: url('../../../img/tabletop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 5px #5e5e5e, 0px 3px 5px #5e5e5e inset;
}

.right-panel {
  box-shadow: 0px 10px 5px #5e5e5e, 0px 3px 5px #5e5e5e inset;
}

.signup-form {
  margin-top: 5vh;
}

.flex-container {
  margin-top: 10vh;
  display: flex;
}

.title-text {
  flex: 1;
}

.sub-text {
  flex: 1;
  font-size: 1em;
}

.main-container {
  height: calc(100% - 56px);
  max-width: 100% !important;
}

.testing {
  height: 200px;
  width: 200px;
}
